<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="row">
			<form wicket:id="formListAuthor" class="form-group">
				<div>


					<input wicket:id="nameAuthor" class="form-control" placeholder="introduzca el nombre del autor"></input>
					<input type="submit" class="btn btn-primary">

				</div>
			</form>
		</div>

		<div class="row">
		</div>

		
<div wicket:id="author-group">
			<span wicket:id="AuthorName"></span>
			
			<span wicket:id="dateOfBirth"></span>
		</div>

</body>
</html>