<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="row">
			<form wicket:id="formListBook" class="form-group">
				<div>


<input wicket:id="nameBook" class="form-control" placeholder="Introduzca el titulo"></input>
<input wicket:id="nameAuthor" class="form-control" placeholder="Introduzca el Author"></input>	
<input wicket:id="ISBN" class="form-control" placeholder="Introduzca el ISBN"></input>	
					<input type="submit" class="btn btn-primary">

				</div>
			</form>
		</div>

		<div class="row">
			<div class="alert-info" wicket:id="feedbackMessage">[feedbackMessage]</div>
		</div>

		
<div wicket:id="book-group">
			<span wicket:id="BookName"></span>
		</div>

</body>
</html>